version: '3.8'

services:
  # Сервис базы данных
  db:
    image: postgres:15-alpine
    container_name: analytics_postgres
    restart: always
    environment:
      TZ: UTC
      PGTZ: UTC
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # Сервис нашего бота
  bot:
      build: .
      container_name: analytics_bot
      restart: always
      # Эта строка явно говорит Docker, какой файл запускать
      command: python bot_main.py
      depends_on:
        db:
          condition: service_healthy
      env_file:
        - .env
      environment:
        - DB_HOST=db
      volumes:
      - .:/app

volumes:
  postgres_data:
